body {
    background-color: #282b3f;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: white;
}
form {
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}
button {
    margin-top: 10px;
}
input {
    width: 50% !important;
    margin-left: 25%;
    color: black !important;
    font-family: 'Work Sans', sans-serif;
}
input::-webkit-input-placeholder {
    color: #D3D3D3 !important;
}
.searchInfo {
    text-align: center;
    color: white;
}
.photos {
    line-height: 0;
    column-count: 5;
    column-gap: 0px
}

.photos img {
    width: 100% !important;
    height: auto !important;
}
label {
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
    padding-bottom: 8px;
}
.info {
    position: relative;
    text-align: center;
}
.card-text {
    display: none;  
    font-size: 15px;
    color: white;
    position: absolute;
    top: -15px;
    left: 7px;
}
a:hover img {
    opacity: .3;
}
a:hover .info .card-text {
    display: block;
}
@media (max-width: 1200px) {
    .photos {
        column-count: 4;
    }
}
@media (max-width: 1000px) {
    .photos {
        column-count: 3;
    }
}
@media (max-width: 800px) {
    .photos {
        column-count: 2;
    }
}
@media (max-width: 400px) {
    .photos {
        column-count: 1;
    }
}
#signature {
    text-align: center;
}
#signature 
    label {
        padding-top: 15px;
        font-size: 18px;
    }
